{# src/OC/PlatformeBundle/Resources/views/Advert/edit.html.twig #}

{% extends "OCPlatformeBundle::layout.html.twig" %}

{% block title %}
    Modifier une machine - {{ parent() }}
{% endblock %}

{% block link %}
    <h3>Les pages</h3>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('oc_platforme_view') }}">Accueil</a></li>
        <li><a href="{{ path('oc_platforme_add') }}">Créer une machine</a></li>
        <li><a href="{{ path('oc_platforme_addsalle') }}">Créer une salle</a></li>
        <li><a href="{{ path('oc_platforme_modifmachine') }}">Modifier/Supprimer une machine</a></li>
        <li><a href="{{ path('oc_platforme_modifsalle') }}">Modifier/Supprimer une salle</a></li>
        <li><a href="{{ path('oc_platforme_ping') }}">Tester la connexion d'une salle</a></li>
    </ul>
{% endblock %}

{% block ocplatforme_body %}

    <h2>Modifier cette machine :</h2>

    {{ include("OCPlatformeBundle:Advert:form.html.twig") }}

    <p>
        <a href="{{ path('oc_platforme_view') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'annonce
        </a>
    </p>

{% endblock %}